# TODO: Check which packages are truly necessary and prepare a lean requirements.txt
Babel==0.9.6
backports.ssl-match-hostname==3.4.0.2
boto==2.38.0
chardet==2.2.1
#Cheetah==2.4.4
#cloud-init==0.7.5
#configobj==4.7.2
decorator==3.4.0
Flask==0.10.1
Flask-Login==0.2.11
Flask-Restless==0.17.0
Flask-Session==0.2
Flask-SQLAlchemy==2.0
iniparse==0.4
IPy==0.75
ipython==3.2.0
itsdangerous==0.23
Jinja2==2.7.2
jsonpatch==1.2
jsonpointer==1.0
Markdown==2.4.1
MarkupSafe==0.11
mimerender==0.5.5
pep8==1.6.2
#Pillow==2.0.0
#policycoreutils-default-encoding==0.1
prettytable==0.7.2
psycopg2==2.6.1
#pycurl==7.19.0
Pygments==1.4
#pygobject==3.8.2
pygpgme==0.3
#pyliblzma==0.5.3
python-dateutil==2.4.2
python-mimeparse==0.1.4
pyudev==0.15
pyxattr==0.5.1
PyYAML==3.10
requests==2.6.0
#rsa==3.1.1
#seobject==0.1
#sepolicy==1.1
six==1.9.0
#slip==0.4.0
#slip.dbus==0.4.0
SQLAlchemy==1.0.6
Unidecode==0.4.18
#urlgrabber==3.10
urllib3==1.10.2
Werkzeug==0.9.1
#wheel==0.24.0
#yum-metadata-parser==1.1.4
