<!DOCTYPE html>
<html lang="en">
<head>
	<title>Professores da ECT</title>
	<meta content="text/html; charset=UTF-8" http-equiv="content-type" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<link href="/static/css/bootstrap.min.css" rel="stylesheet">
	<link href="/static/css/bootstrap-responsive.min.css" rel="stylesheet">
	<link href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,600"
		  rel="stylesheet">
	<link href="/static/css/font-awesome.css" rel="stylesheet">
	<link href="/static/css/style.css" rel="stylesheet">
	<link href="/static/css/pages/dashboard.css" rel="stylesheet">
	<link rel="stylesheet" href="/static/js/rating/jquery.rating.css">
	<link rel="stylesheet" href="http://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">

	<script src="/static/js/jquery-1.11.3.min.js"></script>
	<script src="/static/js/jquery-migrate-1.2.1.min.js"></script>
	<script src="/static/js/bootstrap.js"></script>
	<script src="/static/js/rating/jquery.rating.js"></script>
	<script src="http://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>

	<!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
	<!--[if lt IE 9]>
	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
<script type="text/javascript">
function updateResultado(link)
{
	$(function(){
		var lastLength = 0;
		var lastSearch;
		var timer;
		$('.resultado-pesquisa').html('<img style="float: left; margin: 20px 20px 0 100px;" src="/static/img/loading.gif" class="loading">');
				clearTimeout(timer);
				timer = 0;
				timer = setTimeout(function(){
					$.ajax(link, {
						success: function (data){
							$('.resultado-pesquisa').html(data);
						}
					});
				}, 500);
	});

}

$('#form1').submit(function(){
	$('#input1').keyup();
	return false;
});

$('#form2').submit(function(){
	$('#input2').keyup();
	return false;
});

function menu(option)
{
	var options = ["menu-professores", "menu-livros"];
	for (i in options)
	{
		if(i == option)
		{
			$("#"+options[i]).addClass('active');
		} else
		{
			$("#"+options[i]).removeClass('active');
		}
	}
	if (option == 0)
	{
		professores();
	} else if (option == 1)
	{
		livros();
	}
}

function professores()
{
	$('#pesquisa1').html('Pesquisar por professor');
	$('#widget1').css('display', 'block');
	$('#input1').val('');
	$('#input1').unbind('keyup.mykey1');
	$('#pesquisa2').html('Pesquisar por materia');	
	$('#widget2').css('display', 'block');
	$('#input2').val('');
	$('#input2').unbind('keyup.mykey2');
	$('.resultado-pesquisa').html('');

	$(function(){
		var lastLength = 0;
		var lastSearch;
		var timer;
		$('#input1').bind('keyup.mykey1',function(){
			if($('#input1').val().length > 2){
				$('.resultado-pesquisa').html('<img style="float: right; margin: 20px 20px 0 0;" src="/static/img/loading.gif" class="loading">');

				lastLength = $('#input1').val().length;
				clearTimeout(timer);
				timer = 0;
				timer = setTimeout(function(){
					if($('#input1').val().length == lastLength && lastSearch != $('#input1').val()){
						lastSearch = $('#input1').val();
						$.ajax("/professor/pesquisa/"+$('#input1').val(), {
							success: function (data){
								$('.resultado-pesquisa').html(data);
							}
						});
					}
				}, 500);
			}
		});
	});
	$(function(){
		var lastLength = 0;
		var lastSearch;
		var timer;
		$('#input2').bind('keyup.mykey2',function(){
			if($('#input2').val().length > 2){
				$('.resultado-pesquisa').html('<img style="float: right; margin: 20px 20px 0 0;" src="/static/img/loading.gif" class="loading">');
				lastLength = $('#input2').val().length;
				clearTimeout(timer);
				timer = 0;
				timer = setTimeout(function(){
					if($('#input2').val().length == lastLength && lastSearch != $('#input2').val()){
						lastSearch = $('#input2').val();
						$.ajax("/materia/pesquisa/"+$('#input2').val(), {
							success: function (data){
								var materias = JSON.parse(data);

$( '#input2' ).autocomplete({
      delay: 0,
      source: materias, 
      select: function( event, ui )
      {
		$.ajax("/materia/professores/"+ui.item.id, {
							success: function (data){
				$('.resultado-pesquisa').html(data);
			}
		});
	
      }
    });
							}
						});
					}
				}, 500);
			}
	});
});
}

function livros()
{
	$('#pesquisa1').html('Pesquisar livro <sup><a style="font-size: 10px;" href="javascript:updateResultado(\'/livro/anunciar\');">Anunciar</a></sup>');
	$('#widget1').css('display', 'block');
	$('#input1').val('');
	$('#input1').unbind('keyup.mykey1');
	//$('#pesquisa2').html('Pesquisar por materia');	
	$('#widget2').css('display', 'none');
	$('#input2').val('');
	$('#input2').unbind('keyup.mykey2');
	$('.resultado-pesquisa').html('');

	$(function(){
		var lastLength = 0;
		var lastSearch;
		var timer;
		$('#input1').bind('keyup.mykey1', function(){
			if($('#input1').val().length > 2){
				$('.resultado-pesquisa').html('<img style="float: right; margin: 20px 20px 0 0;" src="/static/img/loading.gif" class="loading">');

				lastLength = $('#input1').val().length;
				clearTimeout(timer);
				timer = 0;
				timer = setTimeout(function(){
					if($('#input1').val().length == lastLength && lastSearch != $('#input1').val()){
						lastSearch = $('#input1').val();
						$.ajax("/livro/pesquisa/"+$('#input1').val(), {
							success: function (data){
								$('.resultado-pesquisa').html(data);
							}
						});
					}
				}, 500);
			}
		});
	});

}

	</script>
</head>
<body>
<div class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
			<a class="brand" href="/">Professores da ECT</a>

			<!--/.nav-collapse -->
		</div>
		<!-- /container -->
	</div>
	<!-- /navbar-inner -->
</div>
<!-- /navbar -->
<div class="subnavbar">
	<div class="subnavbar-inner">
		<div class="container">
			<ul class="mainnav">
				<li id="menu-professores" onclick="menu(0)"><a href="#"><i class="icon-user"></i><span>Professores</span> </a></li>
				<li id="menu-livros" onclick="menu(1)"><a href="#"><i class="icon-book"></i><span>Compra/venda de livros</span> </a></li>
				<!--<li><a href="/"><i class="icon-book"></i><span>Materias</span> </a></li>
				<li><a href="/"><i class="icon-envelope"></i><span>Contato</span> </a></li>-->
			</ul>
		</div>
		<!-- /container -->
	</div>
	<!-- /subnavbar-inner -->
</div>
<!-- /subnavbar -->
<div class="main">
	<div class="main-inner">
				<div class="container" id="container">
<div class="row">
<div class="span6" id="widget1">
	<div class="widget widget-nopad">
		<div class="widget-header"> <i class="icon-user"></i>
			<h3 id="pesquisa1">Pesquisar por professor</h3>
		</div>
		<!-- /widget-header -->
		<div class="widget-content">
			<form class="form-horizontal" id="form1">
				<fieldset>
					<br>
					<div class="control-group" id="control-group1">
						<label for="input1" class="control-label" id="label1">Nome:</label>
						<div class="controls">
							<input type="text" autofocus id="input1" name="nome" class="span4">
						</div> <!-- /controls -->
					</div> <!-- /control-group -->
				</fieldset>
			</form>
		</div>
	</div>
	<!-- /widget -->
</div>
<div class="span6" id="widget2">
	<div class="widget widget-nopad">
		<div class="widget-header"> <i class="icon-user"></i>
			<h3 id="pesquisa2"> Pesquisar por materia</h3>
		</div>
		<!-- /widget-header -->
		<div class="widget-content">
			<form class="form-horizontal" id="form2">
				<fieldset>
					<br>
					<div class="control-group">
						<label for="input2" class="control-label">Nome:</label>
						<div class="controls">
							<input type="text" autofocus id="input2" name="nome" class="span4">
						</div> <!-- /controls -->
					</div> <!-- /control-group -->
				</fieldset>
			</form>
		</div>
	</div>
	<!-- /widget -->
</div>
	</div>
	<!-- /row -->
		<div class="row resultado-pesquisa">

			<!-- /widget-content -->

		</div>
		</div>
		<!-- /container -->
	</div>
	<!-- /main-inner -->
</div>
<script type="text/javascript">
menu(0);
</script>

<!-- /main -->
<div class="extra">
	<div class="extra-inner">
		<div class="container">
			<div class="row">
				<div class="span3">
					<h4><a href="/">ProfessoresDaECT.info</a></h4>
				</div>
				<!-- /span3 -->
			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</div>
	<!-- /extra-inner -->
</div>
<!-- /extra -->
<div class="footer">
	<div class="footer-inner">
		<div class="container">
			<div class="row">
				<div class="span12"> &copy; 2013 <a href="http://www.egrappler.com/">Bootstrap Responsive Admin
						Template</a>.
				</div>
				<!-- /span12 -->
			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</div>
	<!-- /footer-inner -->
</div>
<!-- /footer -->

<!-- /Calendar -->
</body>
</html>
